In [9]:
import pandas as pd
data = {
    "Fruits": ["apple", "banana", "orange", "grapes","pepsi"]
}
series = pd.Series(data)
print(series)

Fruits    [apple, banana, orange, grapes, pepsi]
dtype: object

In [11]:
import pandas as pd

a = ["apple", "banana", "orange", "grapes","pepsi"]

myvar = pd.Series(a, index = ["v","w","x", "y", "z"])

print(myvar)

v     apple
w    banana
x    orange
y    grapes
z     pepsi
dtype: object

In [17]:
import pandas as pd

data = {
    'Name': ['Ahmad', 'Ali', 'Sadam', 'Khan', 'Tufail'],
    'Age': [20, 21, 22, 23, 24],
    'Department': ['Physics', 'Mathematics', 'Computer Science', 'Biology', 'Chemistry'],
    'GPA': [3.8, 3.6, 3.9, 3.7, 3.5]
}

df = pd.DataFrame(data)

result = df[['Name', 'GPA']]
print(result)

     Name  GPA
0   Ahmad  3.8
1     Ali  3.6
2   Sadam  3.9
3    Khan  3.7
4  Tufail  3.5

In [53]:
import pandas as pd

# Data for the DataFrame
data = {
    'Name': ['ali', 'ahmad', 'sadam', 'khan', 'abdullah', 'kashif', 'hanzala', 'wajeeha', 'zahrah', 'fatima'],
    'Math': [85, 90, 78, 92, 88, 76, 95, 89, 91, 82],
    'Physics': [90, 85, 92, 88, 76, 95, 89, 91, 82, 78],
    'CS': [95, 92, 85, 90, 89, 91, 82, 78, 88, 76],
    'Department': ['CS', 'Math', 'CS', 'Physics', 'CS', 'Math', 'CS', 'Physics', 'CS', 'Math']
}

df = pd.DataFrame(data)

df['Average'] = df[['Math', 'Physics', 'CS']].mean(axis=1)

# top 5 students with the highest average
top_5_students = df.nlargest(5, 'Average')

# Select only "CS" 
cs_students = top_5_students[top_5_students['Department'] == 'CS']

# Set the Name column as index 
final_df = cs_students.set_index('Name')[['Math', 'Physics', 'CS', 'Average']]
print(final_df)

         Math  Physics  CS    Average
Name
ali        85       90  95  90.000000
hanzala    95       89  82  88.666667

In [55]:
import pandas as pd

data = {
    'Name': ['ali', 'ahmad', 'sadam', 'khan', 'abdullah', 'kashif', 'hanzala', 'wajeeha', 'zahrah', 'fatima'],
    'Department': ['CS', 'SE', 'Math', 'CS', 'SE', 'Math', 'CS', 'SE', 'CS', 'SE'],
    'Age': [20, 22, 21, 23, 24, 20, 25, 26, 27, 28],
    'GPA': [3.8, 3.6, 3.5, 3.9, 3.7, 3.4, 3.8, 3.6, 3.9, 3.7],
    'Credits_Completed': [80, 100, 70, 110, 120, 60, 130, 140, 150, 160]
}

df = pd.DataFrame(data)

# Filter 
filtered_df = df[(df['Department'].isin(['CS', 'SE'])) & (df['Age'] > 21) & (df['Credits_Completed'] > 90)]

# specific columns
selected_columns = filtered_df[['Name', 'GPA', 'Credits_Completed']]

#GPA in descending order
sorted_df = selected_columns.sort_values(by='GPA', ascending=False)

# Reset the index
final_df = sorted_df.reset_index(drop=True)
print(final_df)

       Name  GPA  Credits_Completed
0      khan  3.9                110
1    zahrah  3.9                150
2   hanzala  3.8                130
3  abdullah  3.7                120
4    fatima  3.7                160
5     ahmad  3.6                100
6   wajeeha  3.6                140

In [49]:
import pandas as pd

# Step 1: Create a Series of favorite fruits
favorite_fruits = pd.Series(['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry'], 
                             index=['A', 'B', 'C', 'D', 'E'])
print("Favorite Fruits Series:")
print(favorite_fruits)

# Step 2: Create a DataFrame
data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Grade': [85, 78, 92, 88, 67],
    'Department': ['Math', 'Science', 'Math', 'History', 'Science']
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

# Step 3: Select only the Student column
student_column = df['Student']
print("\nStudent Column:")
print(student_column)

# Step 4: Select rows where Grade > 80
high_grades = df[df['Grade'] > 80]
print("\nRows with Grade > 80:")
print(high_grades)

# Step 5: Change index to Student
df.set_index('Student', inplace=True)
print("\nDataFrame with Student as Index:")
print(df)

Favorite Fruits Series:
A         Apple
B        Banana
C        Cherry
D          Date
E    Elderberry
dtype: object

DataFrame:
   Student  Grade Department
0    Alice     85       Math
1      Bob     78    Science
2  Charlie     92       Math
3    David     88    History
4      Eva     67    Science

Student Column:
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Student, dtype: object

Rows with Grade > 80:
   Student  Grade Department
0    Alice     85       Math
2  Charlie     92       Math
3    David     88    History

DataFrame with Student as Index:
         Grade Department
Student
Alice       85       Math
Bob         78    Science
Charlie     92       Math
David       88    History
Eva         67    Science

In [59]:
import pandas as pd

data = {
    'Emp_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['ali', 'ahmad', 'sadam', 'khan', 'abdullah', 'kashif', 'hanzala', 'wajeeha', 'zahrah', 'fatima'],
    'Department': ['HR', 'IT', 'HR', 'Marketing', 'HR', 'IT', 'Marketing', 'HR', 'IT', 'Marketing'],
    'Salary': [50000, 60000, 55000, 70000, 58000, 65000, 72000, 52000, 68000, 75000],
    'Experience': [1, 5, 0.5, 8, 1.5, 6, 9, 0.8, 7, 10]
}

df = pd.DataFrame(data)

# employees
selected_employees = df[(df['Experience'] < 2) | (df['Department'] == 'HR')]

# Update salaries
df.loc[selected_employees.index, 'Salary'] *= 1.10

# updated employees
updated_employees = df[(df['Experience'] < 2) | (df['Department'] == 'HR')]
print(updated_employees)

# Create a new column "Level"
df['Level'] = pd.cut(df['Experience'], bins=[0, 3, 6, float('inf')], labels=['Junior', 'Mid', 'Senior'])

# Display the full updated DataFrame
print("\nFull Updated DataFrame:")
print(df)

   Emp_ID      Name Department   Salary  Experience
0       1       ali         HR  55000.0         1.0
2       3     sadam         HR  60500.0         0.5
4       5  abdullah         HR  63800.0         1.5
7       8   wajeeha         HR  57200.0         0.8

Full Updated DataFrame:
   Emp_ID      Name Department   Salary  Experience   Level
0       1       ali         HR  55000.0         1.0  Junior
1       2     ahmad         IT  60000.0         5.0     Mid
2       3     sadam         HR  60500.0         0.5  Junior
3       4      khan  Marketing  70000.0         8.0  Senior
4       5  abdullah         HR  63800.0         1.5  Junior
5       6    kashif         IT  65000.0         6.0     Mid
6       7   hanzala  Marketing  72000.0         9.0  Senior
7       8   wajeeha         HR  57200.0         0.8  Junior
8       9    zahrah         IT  68000.0         7.0  Senior
9      10    fatima  Marketing  75000.0        10.0  Senior

C:\Users\RF\AppData\Local\Temp\ipykernel_10644\2456555994.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[55000. 60500. 63800. 57200.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[selected_employees.index, 'Salary'] *= 1.10

In [61]:
import pandas as pd

# Data for the DataFrame
data = {
    'Name':['ali', 'ahmad', 'sadam', 'khan', 'abdullah', 'kashif', 'hanzala', 'wajeeha', 'zahrah', 'fatima'],
    'GPA': [3.8, 3.6, 3.9, 3.7, 3.5, 3.4, 3.8, 3.6, 3.9, 3.7],
    'Year': ['First', 'Second', 'Final', 'First', 'Second', 'Final', 'First', 'Second', 'Final', 'First']
}

# Create MultiIndex tuples
index_tuples = [
    ('CS', 1), ('CS', 2), ('CS', 3),
    ('EE', 4), ('EE', 5), ('EE', 6),
    ('ME', 7), ('ME', 8), ('ME', 9), ('ME', 10)
]

# Create DataFrame
df = pd.DataFrame(data, index=pd.MultiIndex.from_tuples(index_tuples, names=['Department', 'Student_ID']))

print("Original DataFrame:")
print(df)

# Select students from "CS" department with GPA > 3.0
cs_students = df.loc[(slice(None), slice(None)), :].xs('CS', level='Department')
cs_students_gpa = cs_students[cs_students['GPA'] > 3.0]
print("\nStudents from CS department with GPA > 3.0:")
print(cs_students_gpa)

# Select students from "EE" department in "Final Year"
ee_students_final_year = df.loc[(slice(None), slice(None)), :].xs('EE', level='Department')
ee_students_final_year = ee_students_final_year[ee_students_final_year['Year'] == 'Final']
print("\nStudents from EE department in Final Year:")
print(ee_students_final_year)

# Sort the DataFrame by GPA in descending order within each department
df_sorted = pd.concat([group.sort_values(by='GPA', ascending=False) for _, group in df.groupby(level=0)])
print("\nDataFrame sorted by GPA within each department:")
print(df_sorted)

# Reset the index and display the result
df_reset = df_sorted.reset_index()
print("\nFinal DataFrame after resetting index:")
print(df_reset)

Original DataFrame:
                           Name  GPA    Year
Department Student_ID
CS         1                ali  3.8   First
           2              ahmad  3.6  Second
           3              sadam  3.9   Final
EE         4               khan  3.7   First
           5           abdullah  3.5  Second
           6             kashif  3.4   Final
ME         7            hanzala  3.8   First
           8            wajeeha  3.6  Second
           9             zahrah  3.9   Final
           10            fatima  3.7   First

Students from CS department with GPA > 3.0:
             Name  GPA    Year
Student_ID
1             ali  3.8   First
2           ahmad  3.6  Second
3           sadam  3.9   Final

Students from EE department in Final Year:
              Name  GPA   Year
Student_ID
6           kashif  3.4  Final

DataFrame sorted by GPA within each department:
                           Name  GPA    Year
Department Student_ID
CS         3              sadam  3.9   Final
           1                ali  3.8   First
           2              ahmad  3.6  Second
EE         4               khan  3.7   First
           5           abdullah  3.5  Second
           6             kashif  3.4   Final
ME         9             zahrah  3.9   Final
           7            hanzala  3.8   First
           10            fatima  3.7   First
           8            wajeeha  3.6  Second

Final DataFrame after resetting index:
  Department  Student_ID      Name  GPA    Year
0         CS           3     sadam  3.9   Final
1         CS           1       ali  3.8   First
2         CS           2     ahmad  3.6  Second
3         EE           4      khan  3.7   First
4         EE           5  abdullah  3.5  Second
5         EE           6    kashif  3.4   Final
6         ME           9    zahrah  3.9   Final
7         ME           7   hanzala  3.8   First
8         ME          10    fatima  3.7   First
9         ME           8   wajeeha  3.6  Second